{include file="common/header"/}
<div class="lemo-container">
    <div class="lemo-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{$title}</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" lay-filter="form">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属用户组</label>
                    <div class="layui-input-inline">
<!--                        <select name="group_id" lay-verify="required" {if !empty($info) && $info.group_id !=1 }disabled{/if}>-->
                        <select name="group_id" lay-verify="required">
                            <option value="">请选择用户组</option>
                            {volist name="authGroup" id="vo"}
                            <option value="{$vo.id}" {if !empty($info) && $info.group_id==$vo.id} selected {/if} >{$vo.title}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
<!--                        <input type="text" name="username" lay-verify="required" placeholder="请输入登录用户名" class="layui-input {if $info && $info.uid!==1}layui-disabled{/if}"  {if  $info && $info.uid!==1}readonly="readonly"{/if}>-->
                        <input type="text" name="username" lay-verify="required" placeholder="请输入登录用户名" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        用户名在4到25个字符之间。
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" placeholder="请输入登录密码" autocomplete="true" {if !empty($info)} lay-verify="required"{/if} class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        密码必须大于6位，小于15位。
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">头像</label>
                    <input type="hidden" name="avatar" id="avatar">
                    <div class="layui-input-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-primary" data-path="user" id="uploads"><i class="icon icon-upload3"></i>点击上传</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="addPic">
                                <p id="notice"></p>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">{:lang('email')}</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="email" lay-verify="email" placeholder="请输入用户邮箱" class="layui-input">-->
<!--                    </div>-->
<!--                    <div class="layui-form-mid layui-word-aux">-->
<!--                        用于密码找回，请认真填写。-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">{:lang('mobile')}</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="mobile" lay-verify="phone" value="" placeholder="请输入手机号" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="hidden" name="uid"  >
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                        <a data-href="{:url('saas/sys.Auth/adminList')}" class="layui-btn layui-btn-primary back">返回</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{include file="common/footer"/}
<script>
    layui.config({
        base: '/public/static/admin/js/',
        version: true
    }).extend({
        Admin: 'Admin',
    }).use(['form','Admin'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery;
        var info = '';
        info = {:json_encode($info)};
        form.val("form", info);
        if(info){
            $('#addPic').attr('src',info.avatar);
        }
        form.render();

    });
</script>