{include file="common/header"/}
<div class="lemo-container">
    <div class="lemo-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{$title}</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" lay-filter="form">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户组名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title"  lay-verify="required" placeholder="请输入用户组名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">折扣比例</label>
                    <div class="layui-input-inline">
                        <input type="text" name="ratio"  lay-verify="required" placeholder="请输入折扣比例" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">允许用户量</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_number"  lay-verify="required" placeholder="请输入允许用户量" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sort" value="50" placeholder="请输入排序编号"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="id">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                        <a data-href="{:url('saas/sys.Auth/group')}" class="layui-btn layui-btn-primary back">返回</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{include file="common/footer"/}
<script>
    layui.config({
        base: "/public/static/admin/js/",
        version: true
    }).extend({
        Admin: 'Admin'
    }).use(['element','form', 'layer', 'Admin','form',], function () {
        var form = layui.form, $= layui.jquery;
        var info = {:json_encode($info)};
        form.val("form", info);
        form.render();
    });
</script>