<nc-component v-bind:data="data[index]" class="component-fenxiao-goods">
	
	<!-- 预览 -->
	<template slot="preview">
		
		<div class="goods-head">
			<div class="title-wrap">
				<span class="name">分销商品</span>
			</div>
			<div class="more ns-text-color">更多</div>
		</div>
		<div class="list-wrap">
			<div class="item">
				<div class="img-wrap">
					<img src="STATIC_EXT/diyview/img/crack_figure.png" />
				</div>
				<p>商品名称</p>
				<span>￥998.00</span>
				<span>佣金￥10</span>
			</div>
			<div class="item">
				<div class="img-wrap">
					<img src="STATIC_EXT/diyview/img/crack_figure.png" />
				</div>
				<p>商品名称</p>
				<span>￥998.00</span>
				<span>佣金￥10</span>
			</div>
			<div class="item">
				<div class="img-wrap">
					<img src="STATIC_EXT/diyview/img/crack_figure.png" />
				</div>
				<p>商品名称</p>
				<span>￥998.00</span>
				<span>佣金￥10</span>
			</div>
			<div class="item">
				<div class="img-wrap">
					<img src="STATIC_EXT/diyview/img/crack_figure.png" />
				</div>
				<p>商品名称</p>
				<span>￥998.00</span>
				<span>佣金￥10</span>
			</div>
		</div>
	
	</template>
	
	<!-- 编辑 -->
	<template slot="edit">
	
	</template>
	
	<!-- 资源 -->
	<template slot="resource">
		
		<css src="{$resource_path}/goods_list/css/design.css"></css>
	
	</template>

</nc-component>