@CHARSET "UTF-8";
/*魔方*/
.draggable-element .rubik-cube .preview-draggable{padding:0;}
.rubik-cube .preview-draggable div.tip{background: #EBF8FD;color:#88c4dc;text-align: center;height: 136px;line-height: 136px;}
.rubik-cube .preview-draggable ul{overflow: hidden;padding: 10px;}
.rubik-cube .preview-draggable ul li{float:left;text-align: center;}
.rubik-cube .preview-draggable ul li img{width: auto;height: auto;max-width: 100%;max-height: 100%;}

/*编辑值*/
.rubik-cube .selected-template-list ul{overflow: hidden;}
.rubik-cube .selected-template-list ul li{float: left;width: 26%;text-align: center;border: 1px solid #e5e5e5;padding: 5px;margin: 0 10px 15px 0;cursor: pointer;background: #ffffff;}
.rubik-cube .selected-template-list ul li:nth-child(3n){margin-right:0;}
.rubik-cube .selected-template-list ul li img{width:100%;}
.rubik-cube .selected-template-list ul li div{font-size:12px;}

.rubik-cube .layout{/*clear:both;*/position: relative;}
.rubik-cube .layout ul{overflow: hidden;}
.rubik-cube .layout li{float:left;background: #EBF8FD;color: #88c4dc;border:1px solid #bdf;cursor:pointer;font-size:12px;position:relative;}
.rubik-cube .layout li div.empty{left: 0;text-align: center;width: 100%;position:absolute;top:50%;margin-top: -17px;}
.rubik-cube .layui-form-item p{margin:10px 0 10px 80px;color:#999;font-size:12px;}

.rubik-cube .image-ad-list{margin-left:10px;}
.rubik-cube .image-ad-list>ul>li{padding:10px;background: #ffffff;border:1px dashed #e5e5e5;position:relative;margin-top:10px;}
.rubik-cube .image-ad-list>ul>li:first-child{margin-top:0;}

.rubik-cube .image-ad-list>ul>li .content-block{display:inline-block;width:70%;}
.rubik-cube .image-ad-list>ul>li .content-block.textNavigation{width:100%;}
.rubik-cube .image-ad-list>ul>li .content-block .layui-form-item{margin:0;}
.rubik-cube .image-ad-list>ul>li .content-block .layui-form-label{width:60px;}
.rubik-cube .image-ad-list>ul>li .content-block .layui-input-block{margin-left:60px;}
.rubik-cube .image-ad-list>ul>li .content-block div{margin-top:10px;}
.rubik-cube .image-ad-list>ul>li .content-block div:last-child{margin-top:0;}

.rubik-cube .layout li div.have-preview-image{box-sizing:border-box;}
.rubik-cube .layout li div.have-preview-image img{width: auto;height: auto;max-width: 100%;max-height: 100%;}

/*1行2个*/
/*预览*/
.rubik-cube .preview-draggable ul li.row1-of2{width:50%;}

/*编辑*/
.rubik-cube .layout li.row1-of2{width:49.2%;height:127.91px;border-right:1px transparent solid;}
.rubik-cube .layout li.row1-of2:last-child{border-right:1px solid #bdf;}
.rubik-cube .layout li.row1-of2 div.empty{}
.rubik-cube .layout li.row1-of2 div.have-preview-image{text-align: center;height: 100%;line-height: 127.91px;background: #ffffff;}

/*1行3个*/
/*预览*/
.rubik-cube .preview-draggable ul li.row1-of3{width:33.33%;}

/*编辑*/
.rubik-cube .layout li.row1-of3{width:32.5%;height:84.5px;border-right:1px transparent solid;}
.rubik-cube .layout li.row1-of3:last-child{border-right:1px solid #bdf;}
.rubik-cube .layout li.row1-of3 div.empty{}
.rubik-cube .layout li.row1-of3 div.have-preview-image{text-align: center;height: 100%;line-height: 84.5px;background: #ffffff;}

/*1行4个*/
/*预览*/
.rubik-cube .preview-draggable ul li.row1-of4{width:25%;}

/*编辑*/
.rubik-cube .layout li.row1-of4{width:24.2%;height: 62.91px;border-right:1px transparent solid;}
.rubik-cube .layout li.row1-of4:last-child{border-right:1px solid #bdf;}
.rubik-cube .layout li.row1-of4 div.empty{}
.rubik-cube .layout li.row1-of4 div.have-preview-image{text-align: center;height: 100%;line-height: 62.91px;background: #ffffff;}

/*2左2右*/
/*预览*/
.rubik-cube .preview-draggable ul li.row2-lt-of2-rt{width:50%;float: none;display: inline-block;}

/*编辑*/
.rubik-cube .layout li.row2-lt-of2-rt{width:49.2%;height:127.91px;}
.rubik-cube .layout li.row2-lt-of2-rt:nth-child(1){border-right:1px transparent solid;border-bottom:1px transparent solid;}
.rubik-cube .layout li.row2-lt-of2-rt:nth-child(2){border-bottom:1px transparent solid;}
.rubik-cube .layout li.row2-lt-of2-rt:nth-child(3){border-right:1px transparent solid;clear: both;}
.rubik-cube .layout li.row2-lt-of2-rt div.empty{}
.rubik-cube .layout li.row2-lt-of2-rt div.have-preview-image{text-align: center;height: 100%;line-height: 127.91px;background: #ffffff;}

/*1左2右*/
/*预览*/
.rubik-cube .preview-draggable ul li.row1-lt-of2-rt{width:50%;}
/*height:320px;line-height: 320px;*/
.rubik-cube .preview-draggable ul li.row1-lt-of2-rt:nth-child(1){width: 48%;}
/*height:160px;line-height: 160px;*/
.rubik-cube .preview-draggable ul li.row1-lt-of2-rt:nth-child(2){float: right;margin-bottom: 5px;}
/*height:160px;line-height: 160px;*/
.rubik-cube .preview-draggable ul li.row1-lt-of2-rt:nth-child(3){float: right;}

/*编辑*/
.rubik-cube .layout li.row1-lt-of2-rt{width:49.2%;font-size:12px;}
.rubik-cube .layout li.row1-lt-of2-rt:nth-child(1){height:322px;border-right:1px transparent solid;}
.rubik-cube .layout li.row1-lt-of2-rt:nth-child(2){height:160px;border-bottom:1px transparent solid;}
.rubik-cube .layout li.row1-lt-of2-rt:nth-child(3){height:160px;}
.rubik-cube .layout li.row1-lt-of2-rt div.empty{}
.rubik-cube .layout li.row1-lt-of2-rt:nth-child(1) div.have-preview-image{text-align: center;height: 100%;line-height: 322px;background: #ffffff;}
.rubik-cube .layout li.row1-lt-of2-rt:nth-child(2) div.have-preview-image{text-align: center;height: 100%;line-height: 160px;background: #ffffff;}
.rubik-cube .layout li.row1-lt-of2-rt:nth-child(3) div.have-preview-image{text-align: center;height: 100%;line-height: 160px;background: #ffffff;}

/*1上2下*/
/*预览*/
/*.rubik-cube .preview-draggable ul li.row1-tp-of2-bm{height:130px;line-height: 130px;}*/
.rubik-cube .preview-draggable ul li.row1-tp-of2-bm:nth-child(1){width:100%;}
.rubik-cube .preview-draggable ul li.row1-tp-of2-bm:nth-child(2),.rubik-cube .preview-draggable ul li.row1-tp-of2-bm:nth-child(3){width:50%;}

/*编辑*/
.rubik-cube .layout li.row1-tp-of2-bm{height:129.91px;}
.rubik-cube .layout li.row1-tp-of2-bm:nth-child(1){width:99.4%;border-bottom:1px transparent solid;}
.rubik-cube .layout li.row1-tp-of2-bm:nth-child(2){width:49.2%;border-right:1px transparent solid;}
.rubik-cube .layout li.row1-tp-of2-bm:nth-child(3){width:49.2%;}
.rubik-cube .layout li.row1-tp-of2-bm div.empty{}
.rubik-cube .layout li.row1-tp-of2-bm div.have-preview-image{text-align: center;height: 100%;line-height: 129.91px;background: #ffffff;}

/*1左3右*/
/*预览*/
/*height:320px;line-height:320px;*/
.rubik-cube .preview-draggable ul li.row1-lt-of1-tp-of2-bm:nth-child(1){width:50%;}
/*height:160px;line-height:160px;*/
.rubik-cube .preview-draggable ul li.row1-lt-of1-tp-of2-bm:nth-child(2){width:50%;}
/*height:160px;line-height:160px;*/
.rubik-cube .preview-draggable ul li.row1-lt-of1-tp-of2-bm:nth-child(3),.rubik-cube .preview-draggable ul li.row1-lt-of1-tp-of2-bm:nth-child(4){width:25%;}

/*编辑*/
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(1){height:320px;width:49.2%;border-right:1px transparent solid;}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(2){height:160px;width:49.2%;border-bottom:1px transparent solid;}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(3){height:160px;width:24.2%;border-right:1px transparent solid;}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(4){height:160px;width:24.2%;}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm div.empty{}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(1) div.have-preview-image{text-align: center;height: 100%;line-height: 320px;background: #ffffff;}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(2) div.have-preview-image{text-align: center;height: 100%;line-height: 160px;background: #ffffff;}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(3) div.have-preview-image{text-align: center;height: 100%;line-height: 160px;background: #ffffff;}
.rubik-cube .layout li.row1-lt-of1-tp-of2-bm:nth-child(4) div.have-preview-image{text-align: center;height: 100%;line-height: 160px;background: #ffffff;}

/*自定义魔方*/
.rubik-cube .layout li.custom-rubik-cube{width:25%;height: 70px;border:1px solid #e5e5e5;border-left:1px transparent solid;border-bottom:1px transparent solid;background: #f8f8f8;box-sizing: border-box;}
.rubik-cube .layout li.custom-rubik-cube.border-left{border-left:1px solid #e5e5e5;}
.rubik-cube .layout li.custom-rubik-cube.border-bottom{border-bottom:1px solid #e5e5e5;}
.rubik-cube .layout ul.custom-rubik-cube:last-child li{border-bottom:1px solid #e5e5e5;}
.rubik-cube .layout li.custom-rubik-cube>div{font-size:20px;color:#bbb;text-align: center;}

.rubik-cube .layout div.selected-rubik-cube{position:absolute;border: 1px solid #bdf;background: #e8f7fd;text-align: center;color: #88c4dc;font-size: 12px;cursor:pointer;box-sizing:border-box;}
.rubik-cube .layout div.selected-rubik-cube .image-url{width:100%;height:100%;overflow: hidden;}
.rubik-cube .layout div.selected-rubik-cube .image-url img{width: auto;height: auto;max-width: 100%;max-height: 100%;}
.rubik-cube .layout div.selected-rubik-cube.selected:hover i{display:block;}
.rubik-cube .layout div.selected-rubik-cube.have-image{background: #ffffff;}
.rubik-cube .layout div.selected-rubik-cube span{display:block;line-height: 20px;position: absolute;top: 50%;width: 100%;left: 0;margin-top: -10px;}