{extend name="app/admin/view/base.html"/}
{block name="resources"}
<style>
    .ns-shop-account-block{display:flex;justify-content:space-between}
    .ns-shop-account{width:30%;text-align:center;padding:20px 0}
    .ns-shop-account-num{font-size:20px;font-weight:600;margin-bottom:10px}
    .ns-shop-account-name{font-size:18px}
    .layui-tab-content{padding:10px 0}
    .ns-function-search .layui-form .ns-order-calc .layui-btn{position:initial;border-right:1px solid #e5e5e5}
</style>
{/block}
{block name="main"}
<div class="ns-single-filter-box">
    <div class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="site_name" placeholder="供应商名称" autocomplete="off" class="layui-input">
            <button type="button" class="layui-btn layui-btn-primary" lay-filter="search" lay-submit>
                <i class="layui-icon">&#xe615;</i>
            </button>
        </div>
    </div>
</div>

<table id="account_list" lay-filter="account_list"></table>

{/block}
{block name="script"}
<script>
    layui.use(['form', 'laydate'], function () {
        var tableAccountList = layui.table,
            laydate = layui.laydate,
            form = layui.form;
        form.render();

        //渲染时间
        laydate.render({
            elem: '#start_time',
            type: 'datetime'
        });

        laydate.render({
            elem: '#end_time',
            type: 'datetime'
        });

        /**
         * 搜索功能
         */
        form.on('submit(search)', function (data) {
            tableAccountList.reload({
                page: {
                    curr: 1
                },
                where: data.field
            });
            return false;
        });

        //账户流水
        tableAccountList = new Table({
            elem: '#account_list',
            url: ns.url("supply://admin/account/deposit"),
            cols: [
                [{
                    field: 'deposit_no',
                    title: '账单编号',
                    unresize: 'false',
                    width: '30%'
                }, {
                    field: 'site_name',
                    title: '供应商名称',
                    unresize: 'false',
                    width: '25%'
                }, {
                    field: 'money',
                    title: '保证金余额',
                    unresize: 'false',
                    align: 'right',
                    width: '15%',
                    templet: function (data) {
                        return '￥' + data.money;
                    }
                }, {
                    unresize: 'false',
                    width: '5%'
                }, {
                    field: 'create_time',
                    title: '时间',
                    unresize: 'false',
                    templet: function (data) {
                        return ns.time_to_date(data.create_time); //创建时间转换方法
                    },
                    width: '25%'
                }]
            ]
        });


    })
</script>
{/block}