{extend name="base"/}
{block name="resources"}
{/block}
{block name="main"}
<div class="layui-collapse ns-tips">
	<div class="layui-colla-item">
		<h2 class="layui-colla-title">操作提示</h2>
		<ul class="layui-colla-content layui-show">
			<li>商家入驻时的操作介绍和需要遵循的规则介绍</li>
		</ul>
	</div>
</div>

<!-- 列表 -->
<table id="guide_list" lay-filter="guide_list"></table>

<!-- 操作 -->
<script type="text/html" id="action">
	<div class="ns-table-btn">
		<a class="layui-btn" lay-event="basic">查看</a>
	</div>
</script>
{/block}
{block name="script"}
<script>
	layui.use(['form'], function() {
		var form = layui.form,table;
		form.render();

		table = new Table({
			elem: '#guide_list',
			url: ns.url("shop/shopjoin/guide"),
			parseData: function(res) { //res 即为原始返回的数据
				return {
					"code": res.code, //解析接口状态
					"msg": res.message, //解析提示文本
					"data": res.data //解析数据列表
				};
			},
			cols: [
				[{
					field: 'title',
					title: '标题',
					unresize: 'false',
					width: '35%'
				}, {
					field: 'modify_time',
					title: '更新时间',
					unresize: 'false',
					width: '35%',
					templet: function(data) {
						return ns.time_to_date(data.modify_time); //创建时间转换方法
					}
				}, {
					title: '操作',
					toolbar: '#action',
					width: '30%',
					unresize: 'false'
				}]
			],
			page: false
		});
		
		/**
		 * 监听工具栏操作
		 */
		table.tool(function(obj) {
			var data = obj.data;
			switch (obj.event) {
				case 'basic': //查看
					location.href = ns.url("shop/shopjoin/guidedetail?guide_index=" + data.guide_index);
					break;
			}
		});
		// 搜索
		form.on('submit(search)', function(data) {
			table.reload({
				page: {
					curr: 1
				},
				where: data.field
			});
		});
	});
</script>
{/block}