{extend name="app/shop/view/base.html"/}
{block name="resources"}
{/block}
{block name="main"}

<!-- 搜索框 -->
<div class="ns-single-filter-box">
	<button class="layui-btn ns-bg-color" onclick="add()">添加打印机</button>
</div>

<table id="printer_list" lay-filter="printer_list"></table>

<!-- 操作 -->
<script type="text/html" id="action">
	<div class="ns-table-btn">
		<a class="layui-btn" lay-event="edit">编辑</a>
		<a class="layui-btn" lay-event="del">删除</a>
		<a class="layui-btn" lay-event="print">测试打印</a>
	</div>
</script>
{/block}

{block name="script"}
<script>
	layui.use(['form'], function() {
		var table,
			form = layui.form,
			repeat_flag = false; //防重复标识
		form.render();


		table = new Table({
			elem: '#printer_list',
			url: ns.url("printer://shop/printer/lists"),
			cols: [
				[{
			    	'field':'printer_name',
					title: '打印机名称',
					unresize: 'false'
				}, {
					field: 'brand',
					title: '打印机品牌',
					unresize: 'false',
                    templet: function(data) {
                        if(data.brand == '365'){
                            return '365';
                        }else if(data.brand == 'yilianyun'){
                            return '易联云';
                        }else{
                            return '飞鹅';
						}
                    }
				}, {
					field: 'is_default',
					title: '一次打印',
					unresize: 'false',
                    templet: function(data) {
						return data.print_num + '张';
                    }
				}, {
                    title: '添加时间',
                    unresize: 'false',
                    templet: function(data) {
                        return ns.time_to_date(data.create_time);
                    }
                }, {
					title: '操作',
					toolbar: '#action',
					unresize: 'false'
				}]
			]

		});

		/**
		 * 监听工具栏操作
		 */
		table.tool(function(obj) {
			var data = obj.data;
			switch (obj.event) {
				case 'edit': //编辑
					location.href = ns.url("printer://shop/printer/edit", {"printer_id": data.printer_id});
					break;
				case 'del': //删除
                    deletePrinter(data.printer_id);
					break;
                case 'print': //测试打印
                    testPrint(data.printer_id);
                    break;
			}
		});
		
		/**
		 * 删除
		 */
		function deletePrinter(printer_id) {
			layer.confirm('确定要删除该打印机吗?', function() {
				if (repeat_flag) return;
				repeat_flag = true;

				$.ajax({
					url: ns.url("printer://shop/printer/delete"),
					data: {
                        printer_id: printer_id
					},
					dataType: 'JSON',
					type: 'POST',
					success: function(res) {
						layer.msg(res.message);
						repeat_flag = false;
						if (res.code == 0) {
							table.reload();
						}
					}
				});
			}, function() {
				layer.close();
				repeat_flag = false;
			});
		}

	});

    /**
     * 测试打印
     */
    function testPrint(printer_id)
    {
        layer.confirm('确定测试打印吗?', function() {
            if (repeat_flag) return;
            repeat_flag = true;

            $.ajax({
                url: ns.url("printer://shop/printer/testPrint"),
                data: {
                    printer_id: printer_id
                },
                dataType: 'JSON',
                type: 'POST',
                success: function(res) {
                    // layer.msg(res.message);
                }
            });
			layer.msg('操作成功');
			layer.close();
        }, function() {
            layer.close();
            repeat_flag = false;
        });

    }

	function add() {
		location.href = ns.url("printer://shop/printer/add");
	}
</script>
{/block}