.withdraw-no{border:1px solid #f6f6f6}
.withdraw-detail .layui-input-block{margin-left:75px;min-height:auto!important}
.withdraw-detail .layui-form-label{padding:0 0!important;color:#999!important;width:auto!important;text-align:right!important}
.withdraw-detail .layui-form-item{margin-bottom:0!important}
.withdraw-detail .withdraw-detail-hr{border-bottom:1px solid #f6f6f6;margin-bottom:8px!important}
.withdraw-detail .layui-card{box-shadow:unset}
.withdraw-detail-operation .layui-card{margin-left:40px}
.withdraw-detail .layui-card .layui-card-header{font-weight:700;height:30px;line-height:30px;border-bottom:none}
.withdraw-detail-operation{background-color:#fff;margin-top:5px}
.withdraw-detail-operation .layui-card .layui-card-body{padding:1px 15px!important;position:relative;border-bottom:none}
.withdraw-detail-operation .layui-card .layui-card-body .withdraw-detail-tips{font-size:12px;color:#999!important;margin-bottom:30px}
.withdraw-detail-operation .layui-card .layui-card-body i{position:absolute;left:-22px;top:-22px;font-size:28px!important;color:#0d73f9}
.withdraw-detail-left{border-right:1px solid #eaeaea}
.withdraw-detail-info{position:relative;background-color:#fff;border:1px solid #eaeaea;padding:10px}
.withdraw-detail-dl dl dt{color:#0d73f9;height:25px;line-height:25px}
.withdraw-detail-dl dl dd{height:18px;line-height:18px}
.withdraw-detail-total span{color:#ff5722}
.withdraw-card{border:1px solid #eaeaea}
.withdraw-card .layui-card-header{border-bottom:1px solid #eaeaea}
.withdraw-content-item{clear: both;}
.withdraw-content-item label{width:105px;text-align:right;vertical-align:middle;float:left;font-size:12px;color:#666;line-height:1;padding:10px 20px 10px 0;-webkit-box-sizing:border-box;box-sizing:border-box}
.withdraw-content-item div{margin-left:105px;position:relative;line-height:32px;font-size:12px}
.withdraw-content-item span{line-height:32px;font-size:12px}
