{extend name="app/admin/view/base.html"/}
{block name="resources"}
<style>
	.ns-form {margin-top: 0;}
</style>
{/block}
{block name="main"}
<div class="layui-form ns-form">
    <!-- 基础上传 -->
    <div class="layui-card ns-card-common ns-card-brief">
        <div class="layui-card-header">
            <span class="ns-card-title">分销商申请设置</span>
        </div>
        <div class="layui-card-body">
            <div class="layui-form-item apply">
                <label class="layui-form-label">显示申请协议：</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="radio" name="is_agreement" value="1" lay-filter="level" title="显示" {if $agreement_info.is_agreement == 1} checked {/if}/>
                        <input type="radio" name="is_agreement" value="0" lay-filter="level" title="隐藏" {if $agreement_info.is_agreement != 1} checked {/if}/>
                    </div>
                </div>
            </div>

            <div class="layui-form-item apply_img">
                <label class="layui-form-label img-upload-lable">申请页面顶部图片：</label>
                <div class="layui-input-block">
                    <div class="upload-img-block">
                        <div class="upload-img-box" id="applyImg">
                            {if condition="$agreement_info.img"}
                            <img src="{:img($agreement_info.img)}" />
                            {else/}
                            <div class="ns-upload-default">
                                <img src="__STATIC__/img/upload_img.png" />
                                <p>点击上传</p>
                            </div>
                            {/if}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="img" value="{$agreement_info.img}">
            </div>

        </div>
    </div>
    <div class="layui-card ns-card-common ns-card-brief">
        <div class="layui-card-header">
            <span class="ns-card-title">协议设置</span>
        </div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label">协议名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="agreement_title" value="{$document.title}" lay-verify="required" class="layui-input ns-len-mid new_pass" maxlength="18">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">协议内容：</label>
                <div class="layui-input-block">
                    <script id="editor" type="text/plain" class="ns-special-length" style="height:600px;"></script>
                    <input type="hidden" name="agreement_content" id="agreement_content" value="{$document.content}" />
                </div>

            </div>
			
			<div class="ns-form-row">
				<button class="layui-btn ns-bg-color" lay-submit lay-filter="save">保存</button>
			</div>
        </div>
    </div>
	
</div>
{/block}
{block name="script"}

<script type="text/javascript" charset="utf-8" src="STATIC_EXT/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="STATIC_EXT/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="STATIC_EXT/ueditor/lang/zh-cn/zh-cn.js"></script>

<script>
    //实例化富文本
    var ue = UE.getEditor('editor');
    if($("#agreement_content").val()){
        ue.ready(function() {
            ue.setContent($("#agreement_content").val());
        });
    };

    layui.use(['form','upload'], function() {
        var form = layui.form,
            upload = layui.upload,
            repeat_flag = false; //防重复标识
        form.render();

        //图片上传
        var uploadLogo = upload.render({
            elem: '#applyImg',
            url: ns.url("admin/upload/upload"),
            done: function(res) {
                if (res.code >= 0) {
                    $("input[name='img']").val(res.data.pic_path);
                    $("#applyImg").html("<img src=" + ns.img(res.data.pic_path) + " >");
                }
                return layer.msg(res.message);
            }
        });

        form.on('submit(save)', function(data) {
            if (repeat_flag) return;
            repeat_flag = true;

            var field = data.field;

            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: ns.url("fenxiao://admin/config/agreement"),
                data: {
                    'is_agreement' : field.is_agreement,
                    'agreement_title'  : field.agreement_title,
                    'agreement_content' : ue.getContent(),
                    'img' : field.img,
                },
                success: function(res) {
                    layer.msg(res.message);
					repeat_flag = false;
                    if (res.code == 0) {
                        location.reload();
                    }
                }
            });
        });

    });


</script>
{/block}