@charset "UTF-8";
body {
  color: #333333; }

.layui-body::-webkit-scrollbar {
  display: none; }

.layui-body {
  overflow-x: hidden;
  overflow-y: scroll; }

/*o内核*/
.scroll_content .-o-scrollbar {
  -moz-appearance: none !important;
  background: rgba(0, 255, 0, 0) !important; }

.scroll_content::-o-scrollbar-button {
  background-color: rgba(0, 0, 0, 0); }

.scroll_content::-o-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); }

.scroll_content::-o-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0); }

.scroll_content::-o-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); }

.scroll_content::-o-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0); }

.scroll_content::-o-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0); }

/*IE10,IE11,IE12*/
.layui-body {
  -ms-scroll-chaining: chained;
  -ms-overflow-style: none;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
  -ms-overflow-style: none;
  overflow: auto; }

.ns-body-content {
  background-color: #F7F8FA; }

.ns-supply-wrap {
  width: 100%; }

.ns-supply-wrap-con {
  width: 1000px;
  margin: 0 auto; }

/* 头部 */
.ns-supply-header-wrap {
  background-color: #FFFFFF;
  width: 100%; }

.ns-supply-header {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .ns-supply-header a {
    height: 32px;
    color: #646566;
    cursor: pointer; }
    .ns-supply-header a:hover {
      color: #ff8143; }

.ns-supply-header-opretion {
  display: flex;
  align-items: center; }
  .ns-supply-header-opretion > span {
    width: 1px;
    height: 16px;
    line-height: 16px;
    margin: 0 16px;
    background-color: #ebedf0; }
  .ns-supply-header-opretion > a {
    display: flex;
    align-items: center; }
    .ns-supply-header-opretion > a > i {
      margin-right: 5px;
      font-size: 14px; }

.ns-supply-logo img {
  max-width: 135px;
  max-height: 50px; }

/* 顶部搜索栏 */
.ns-supply-header-search {
  border-top: 1px solid #F1F1F1;
  padding-left: 20px;
  padding-right: 20px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF; }
  .ns-supply-header-search a {
    display: inline-block;
    width: 135px; }

.ns-supply-search {
  display: flex;
  align-items: center; }

.ns-supply-search-box {
  position: relative;
  width: 400px;
  margin-right: 10px; }
  .ns-supply-search-box select {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 80px;
    height: 30px;
    background-color: #f6f6f6;
    border: none;
    color: #323233; }
  .ns-supply-search-box input {
    border-width: 2px;
    padding-left: 20px;
    line-height: 30px; }
    .ns-supply-search-box input:hover {
      border-color: #ff8143 !important; }
  .ns-supply-search-box button {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px; }

.ns-supply-search-ewm {
  margin-left: 15px;
  cursor: pointer;
  position: relative; }

.ns-ewm-box {
  display: none;
  width: 100px;
  padding: 10px;
  background-color: #FFFFFF;
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 99;
  text-align: center;
  font-size: 12px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .ns-ewm-box img {
    max-width: 100%;
    margin-bottom: 5px; }

.ns-supply-search-ewm:hover .ns-ewm-box {
  display: block; }

.ns-supply-header-cart {
  font-size: 12px;
  color: #ff8143;
  border: 1px solid #dfdfdf;
  padding: 10px 20px;
  cursor: pointer;
  position: relative; }
  .ns-supply-header-cart i {
    font-size: 14px; }
  .ns-supply-header-cart .cart-num {
    position: absolute;
    top: -5px;
    right: 10px;
    display: inline-block;
    background-color: #ff8143;
    color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 20px; }

.ns-supply-order {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; }

.order-menu {
  width: 190px;
  background-color: #ffffff; }
  .order-menu .layui-nav-tree {
    width: 100%;
    background-color: transparent; }
  .order-menu .layui-nav-itemed > a, .order-menu .layui-nav-tree .layui-nav-title a, .order-menu .layui-nav-tree .layui-nav-title a:hover {
    color: #333333 !important; }
  .order-menu .layui-nav .layui-nav-mored, .order-menu .layui-nav-itemed > a .layui-nav-more {
    border-color: transparent transparent #333333; }
  .order-menu .layui-nav-tree .layui-nav-item a:hover {
    background-color: transparent; }
  .order-menu .layui-nav-itemed > .layui-nav-child {
    background-color: transparent !important; }
  .order-menu .layui-nav .layui-nav-more {
    border-color: #333333 transparent transparent; }
  .order-menu .layui-nav-tree .layui-nav-child dd.layui-this, .order-menu .layui-nav-tree .layui-nav-child dd.layui-this a, .order-menu .layui-nav-tree .layui-this, .order-menu .layui-nav-tree .layui-this > a, .order-menu .layui-nav-tree .layui-this > a:hover {
    background-color: transparent;
    color: #ff8143; }
  .order-menu .layui-nav .layui-nav-item dd a {
    padding-left: 35px; }

.order-list {
  width: calc(100% - 200px); }

.order-list-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border-bottom: 1px solid #f1f1f1;
  box-sizing: border-box;
  background-color: #ffffff; }
  .order-list-title span a {
    font-weight: 600; }
    .order-list-title span a:hover {
      color: #ff8143; }
