{extend name="base"/}
{block name="resources"}
<link rel="stylesheet" href="SHOP_CSS/login.css">
<style>
	/* .login-body{background-image: url("{:img('SHOP_IMG/login/login_bg.png')}"); background-size: cover;} */
</style>
{/block}
{block name="body"}
<div class="layui-layout layui-layout-admin">
	<div class="apply-header">
		<div class="apply-header-box">
			<div class="apply-header-title">
				<a href="{:url('shop/index/index')}">
					{notempty name="$website_info.logo"}
					<img src="{:img($website_info.logo)}">
					{else/}
					<img src="SHOP_IMG/shop_logo.png">
					{/notempty}
					<span class="ns-text-color">B2B2C多商户店铺端</span>
				</a>
			</div>
			<span class="phone">联系电话：{$website_info['web_phone']} </span>
		</div>
	</div>
</div>
<div class="login-body">
	<div class="login-content">
		<h2>商家登录</h2>
<!--		<h3>登录之后可进入店铺或申请入驻</h3>-->
		<div class="layui-form">
			<div class="login-input login-info">
				<div class="login-icon">
					<img src="SHOP_IMG/login/login_username.png" alt="">
				</div>
				<input type="text" name="username" lay-verify="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
			</div>
			<div class="login-input login-info">
				<div class="login-icon">
					<img src="SHOP_IMG/login/login_password.png" alt="">
				</div>
				<input type="password" name="password" lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
			</div>
			{if $shop_login == 1}
			<div class="login-input login-verification">
				<input type="text" name="captcha" lay-verify="verificationCode" placeholder="请输入验证码" autocomplete="off" class="layui-input">
				<div class="login-verify-code-img">
					<img id='verify_img' src="{$captcha['img']}" alt='captcha' onclick="verificationCode()"/>
				</div>
			</div>
			<input type="hidden" name="captcha_id" value="{$captcha['id']}">
			{/if}
			<button id="login_btn" type="button" class="layui-btn ns-bg-color ns-login-btn" lay-submit lay-filter="login">登录</button>
			<p class="operation-register">还没有成为我们的伙伴？<a href="javascript:;" class="ns-text-color" onclick="register()">&nbsp;申请入驻</a></p>
		</div>
	</div>

	<div class="ns-login-bottom">
		<a class="ns-footer-img" href="#"><img src="{if !empty($copyright.logo)} {:img($copyright.logo)} {else /}__STATIC__/img/copyright_logo.png{/if}" /></a>
		<p>{notempty name="$copyright.company_name"}{$copyright.company_name}{else/}上海牛之云网络科技有限公司{/notempty} {notempty name="$copyright.icp"}<a href={$copyright.copyright_link}>&nbsp;&nbsp;备案号{$copyright.icp}</a>{/notempty}</p>
		{notempty name="$copyright.gov_record"}<a class="gov-box" href={$copyright.gov_url}><img src="SHOP_IMG/gov_record.png" alt="">公安备案{$copyright.gov_record}</a>{/notempty}
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	var form, login_repeat_flag = false;
	/**
	 * 验证码
	 */
	function verificationCode(){
		$.ajax({
			type: "get",
			url: "{:url('shop/login/captcha')}",
			dataType: "JSON",
			async: false,
			success: function (res) {
				var data = res.data;
				$("#verify_img").attr("src",data.img);
				$("input[name='captcha_id']").val(data.id);
			}
		});
	}

	layui.use('form', function(){
		form = layui.form;
		form.render();

		/* 登录 */
		form.on('submit(login)', function(data) {

			if (login_repeat_flag) return;
			login_repeat_flag = true;

			$.ajax({
				type: "POST",
				dataType: "JSON",
				url: '{:url("shop/login/login")}',
				data: data.field,
				success: function(res) {

					if (res.code == 0) {
						layer.msg('登录成功',{anim: 5,time: 500},function () {
							window.location = ns.url('shop/index/index');
						});
					} else {
						layer.msg(res.message);
						login_repeat_flag = false;
						verificationCode();
					}

				}
			})
		});

		/**
		 * 表单验证
		 */
		form.verify({
			userName: function(value) {
				if (!value.trim()) {
					return "账号不能为空";
				}
			},
			password: function(value) {
				if (!value.trim()) {
					return "密码不能为空";
				}
			},
			verificationCode: function(value) {
				if (!value.trim()) {
					return "验证码不能为空";
				}
			}

		});
	});

	function register(){
		location.href = ns.url("shop/login/register");
	}
	
	$("body").on("blur",".login-content .login-input",function(){
		$(this).removeClass("login-input-select");
	});
	$("body").on("focus",".login-content .login-input",function(){
		$(this).addClass("login-input-select");
	});

	$(document).keydown(function (event) {
		if (event.keyCode == 13) {
			$(".ns-login-btn").trigger("click");
		}
	});
</script>
{/block}