{extend name="base"/}
{block name="resources"}

{/block}
{block name="main"}
<div class="ns-single-filter-box">

    <button class="layui-btn ns-bg-color" onclick="agent_add()">添加代理商</button>

</div>
<table id="agent_list" lay-filter="agent_list"></table>

<script>

    layui.use(['form', 'laydate'], function() {

        var tableAccountList= layui.table,

            laydate = layui.laydate,

            form = layui.form;

        form.render();

        /**

         * 搜索功能

         */

        form.on('submit(search)', function(data) {

            tableAccountList.reload({

                page: {

                    curr: 1

                },

                where: data.field

            });

            return false;

        });





        tableAccountList = new Table({

            elem: '#agent_list',

            url: ns.url("saas/agent/agent_list"),

            cols: [[
                    {field: 'agent_id', title: 'ID'},
                    {field: 'number', title: '账号'},
                    {field: 'name', title: '姓名'},
                    {field: 'level', title: '代理等级'},
                    {field: 'region', title: '所在区域'},
                    {field: 'address', title: '客户地址'},
                    {field: 'manager', title: '客户经理'},
                    {field: 'contacts', title: '联系人'},
                    {field: 'telephone', title: '电话'},
                    {field: 'phone', title: '手机'},
                    {field: 'email', title: '邮箱'},
                    {field: 'qq', title: 'QQ'}
                ]]

        });

    })
    function  agent_add() {

            location.href = ns.url("saas/Agent/add_agent");


    }
</script>
{/block}