{extend name="base"/}
{block name="resources"}
{/block}
{block name="main"}
<!-- 搜索框 -->
<!-- <div class="ns-screen layui-collapse">
	<div class="layui-colla-item">
		<h2 class="layui-colla-title">筛选</h2>
		<form class="layui-colla-content layui-form layui-show">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">择操作用户：</label>
					<div class="layui-input-inline">
						<select name="uid" lay-filter="uid">
							<option value="">请选择操作用户</option>
								{foreach $user_list as $user_list_k => $user_list_v}
							<option value="{$user_list_v.uid}">{$user_list_v.username}</option>
						{/foreach}
						</select>
					</div>
					<div class="layui-input-inline">
						<input type="text" id="search_keys" name="search_keys" placeholder="请输入操作关键词" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="ns-form-row">
				<button class="layui-btn ns-bg-color" lay-submit lay-filter="search">筛选</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</form>
	</div>
</div> -->

<div class="ns-single-filter-box">
	<div class="layui-form">
		<div class="layui-input-inline">
			<select name="uid" lay-filter="uid">
				<option value="">请选择操作用户</option>
				{foreach $user_list as $user_list_k => $user_list_v}
				<option value="{$user_list_v.uid}">{$user_list_v.username}</option>
				{/foreach}
			</select>
		</div>
		
		<div class="layui-input-inline">
			<input type="text" id="search_keys" name="search_keys" placeholder="请输入操作关键词" autocomplete="off" class="layui-input">
			<button type="button" class="layui-btn layui-btn-primary" lay-filter="search" lay-submit>
				<i class="layui-icon">&#xe615;</i>
			</button>
		</div>
	</div>
</div>

<!-- 店铺分类列表 -->
<table id="useLog_info" lay-filter="useLog_info"></table>

<!-- 批量删除 -->
<script type="text/html" id="batchOperation">
	<button class="layui-btn layui-btn-primary" lay-event="del">批量删除</button>
</script>

{/block}
{block name="script"}
<script>
	layui.use(['form'], function() {
		var table,
			form = layui.form;
			
		table = new Table({
			elem: '#useLog_info',
			url: ns.url("admin/user/userLog"),
			cols: [
				[{
					width: "3%",
					type: 'checkbox',
					templet: '#id',
					unresize: 'false'

				},{
					unresize: 'false',
					field: 'username',
					title: '操作者',
				}, {
					field: 'action_name',
					unresize: 'false',
					title: '操作记录',
				}, {
					field: 'ip',
					unresize: 'false',
					title: '操作IP地址',
				}, {
					field: 'create_time',
					unresize: 'false',
					title: '操作时间',
					templet: function(data) {
						return ns.time_to_date(data.create_time); //创建时间转换方法
					}
				}]
			],
			bottomToolbar: "#batchOperation"
		});
		
		// 删除
		function deleteUserLog(id) {
			layer.confirm('确定要删除操作日志吗?', function() {
				$.ajax({
					url: ns.url("admin/user/deleteUserLog"),
					data: {id},
					dataType: 'JSON', 
					type: 'POST',
					success: function(res) {
						layer.msg(res.message);
						repeat_flag = false;

						if (res.code == 0) {
							table.reload();
						}
					}
				});
			});
		}
		
		/**
		 * 批量操作
		 */
		table.bottomToolbar(function(obj) {

			if (obj.data.length < 1) {
				layer.msg('请选择要操作的数据');
				return;
			}
			switch (obj.event) {
				case "del":
					var id_array = new Array();
					for (i in obj.data) id_array.push(obj.data[i].id);
					deleteUserLog(id_array.toString());
					break;
			}
		});
		
		/**
		 * 搜索功能
		 */
		form.on('submit(search)', function(data) {
			table.reload({
				page: {
					curr: 1
				},
				where: data.field
			});
			// return false;
		});

	});
</script>
{/block}